<footer>
    <div class="container-footer">
        <div class="column">
            <h1>BDTS media</h1>
            <ul>
                <li><a href="index.html">Om oss</a></li>
            </ul>
        </div>
        <div class="column">
            <h1>Support</h1>
            <ul>
                <li>Kontakta oss</li>
            </ul>
        </div>
        <div class="column">
            <h1>Sociala medier</h1>
            <ul>
                <li><a href="https://www.instagram.com/bdtsmedia?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">Instagram</a></li>
                <li><a href="https://www.facebook.com/profile.php?id=61557358598427&locale=sv_SE">Facebook</a></li>
                <li><a href="https://www.youtube.com/@StraightUpUncensored">Straight Up Youtube</a></li>
                <li><a href="https://www.youtube.com/@BDTSmedia">BDTS media youtube</a></li>
            </ul>
        </div>
    </div>
    <div>
        <p>&copy; 2024 BDTS media. All rights reserved.</p>
    </div>
</footer>