<footer>
    <div class="container-footer">
        <div class="column">
            <h1>Merch</h1>
            <ul>
                <li><a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fbdts-store.creator-spring.com%2F&h=AT1gGTJhEQefDT0SvLBoTernlWCEDEhZ5tSiPHXHJyDEL4jiympBxb9htz2_lNFlC1sNW7nmAtF9nI0sRxwqTgATAv92peyjBNpCa5Wr6NEeQB0hy9F9m-DEOX6uq4anOP--r5gLHDYr9CSXe0maog">Köp här</a></li>
            </ul>
        </div>
        <div class="column">
            <h1>Sociala medier</h1>
            <ul>
                <li><a href="https://www.instagram.com/bdtsmedia?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">Instagram</a></li>
                <li><a href="https://www.facebook.com/profile.php?id=61557358598427&locale=sv_SE">Facebook</a></li>
                <li><a href="https://www.youtube.com/@StraightUpUncensored">Straight Up Uncensored Youtube</a></li>
                <li><a href="https://www.youtube.com/@BDTSmedia">BDTS media youtube</a></li>
                <li><a href="https://www.youtube.com/@TheCuttingEdgeByBDTS">The Cutting Edge Youtube</a></li>
            </ul>
        </div>
    </div>
    <div>
        <p>&copy; 2024 BDTS media. All rights reserved.</p>
    </div>
</footer>