<header>
  <nav class="navbar">
    <% if (type === 'home') { %>
    <a class="navbar-brand" href="/"><%= logo %></a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Hem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/straight-up">Straight up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/the-cutting-edge">The Cutting edge</a>
        </li>
      </ul>
    </div>
    <% } else if (type === 'straight-up') { %>
      <a class="navbar-brand" href="/"><%= logo %> </a>
    <div class="collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/straight-up">Hem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/straight-up/avsnitt">Avsnitt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">BDTS media</a>
        </li>
      </ul>
    </div> 

    <% } else if (type === 'cutting-edge') { %>
      <a class="navbar-brand" href="/"><%= logo %> </a>
    <div class="collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/the-cutting-edge">Hem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/the-cutting-edge/avsnitt">Avsnitt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">BDTS media</a>
        </li>
      </ul>
    </div> 
    <% } %>
  </nav>
</header>