<div class="container-admin">
    <h2>Registrera annan admin</h2>
    <form action="/register" method="post" class="admin-login-form">
        <div class="form-group">
            <label for="firstname">Förnamn:</label>
            <input type="text" id="firstname" name="firstname" required>
        </div>
        <div class="form-group">
            <label for="lastname">Efternamn:</label>
            <input type="text" id="lastname" name="lastname" required>
        </div>

        <div class="form-group">
            <label for="username">Användarnamn:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Lösenord:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <p>Observera att en admin användare kan uppdatera webbsidan, lägga till användare och se personer som kontaktat BTDS media</p><br>
        <div class="form-group">
            <input type="submit" value="Registrera Admin">
        </div>
    </form>
</div>
