<div class="container-home">
    <h1>Kontaktformulär - information</h1>
    
    <p>Det här dokumentet beskriver hur information som samlas in via vårt kontaktformulär behandlas och lagras enligt GDPR (General Data Protection Regulation).</p>

    <h2>Vilken information samlas in?</h2>
    <p>Vårt kontaktformulär samlar in följande information:</p>
    <ul>
        <li>Namn</li>
        <li>E-postadress (om det fyllts i)</li>
        <li>Kontaktorsak</li>
        <li>Meddelande</li>
    </ul>

    <h2>Hur behandlas och lagras informationen?</h2>
    <p>Den insamlade informationen används för att kontakta dig angående din förfrågan eller kommentar. E-postadressen används för att skicka svar på inskickade kontaktformulär.</p>
    <p>Informationen lagras säkert och skyddas mot obehörig åtkomst.</p>

    <h2>Lagringstid</h2>
    <p>Meddelandet sparas i vår databas i 7 dagar. Efter det kommer det automatiskt att raderas från databasen.</p>

    <h2>Dina rättigheter</h2>
    <p>Du har rätt att begära åtkomst till och rättelse av dina personuppgifter. Du har även rätt att begära att dina personuppgifter raderas från vår databas, förutsatt att det inte finns några lagliga skyldigheter som hindrar oss från att göra det.</p>

    <h2>Kontakt</h2>
    <p>För frågor eller för att utöva dina rättigheter enligt GDPR, vänligen kontakta oss på följande e-postadress: bdtsmedia@gmail.com.</p>
</div>

<%- include('../contact/contact') %>
