
 <div class="container-home">
    <h1>GitLab oauth - WT1</h1>
    <p class="step-completed">1. Login to gitlab</p>
    <p>2. See your Gitlab profile</p>
    <p>3. See your 101 latest activities</p>
    <p>4. See your groups and projects</p>
  </div>
