<img src="/img/BDTSBanner.png" alt="" class="home-image">
<div class="container-home">
    <p>1. Main page</p>
  </div>

  <div class="contact">
    <p>Kontakta oss</p>
    <form action="">
      <label for="fname">Namn:</label><br>
        <input type="text"><br>
        <input type="radio"><label>Fråga</label><br>
        <input type="radio"><label>Önskemål</label><br>
        <input type="submit">
    </form>
</div>