<h1>Create Post</h1>
    <form action="/admin/post" method="POST">
        <div>
            <label for="header">Header:</label>
            <input type="text" id="header" name="header" required>
        </div>
        <div>
            <label for="text">Text:</label>
            <textarea id="text" name="text" required></textarea>
        </div>
        <div>
            <label for="postType">Välj typ av inlägg:</label>
            <select id="type" name="type" required>
                <option value="main">Main</option>
                <option value="mainp">Main presentation</option>
                <option value="straight">Straight up</option>
                <option value="straightp">Straight up presentation</option>
                <option value="cutting">The cutting edge</option>
                <option value="cuttingp">The cutting edge presentation</option>
            </select>
        </div>
        <button type="submit">Skapa inlägg</button>
    </form>