<div id="createPost">
    <h1>Skapa inl채gg</h1>
    <form action="/admin/post" method="POST">
        <div>
            <label for="text">Text:</label>
            <div id="editor" style="height: 200px;"></div>
            <input type="hidden" id="text" name="text">
        </div>
        <div>
            <label for="textImage">embedda bild:</label>
            <textarea id="textImage" name="textImage"></textarea>
        </div>
        <div>
            <label for="postType">V채lj typ av inl채gg:</label>
            <select id="type" name="type" required>
                <option value="main">Main</option>
                <option value="straight">Straight up</option>
                <option value="cutting">The cutting edge</option>
            </select>
        </div>
        <button type="submit">Skapa inl채gg</button>
    </form>
</div>
